<!doctype html>
<html lang="pl-PL">

<head>
  <meta charset="utf-8">
  <title> analiza dotychczasowych parametrów </title>
  <link rel="stylesheet" type="text/css" href="diagramTest.css">


</head>
<body>

<header>
    <h2>Analiza kosztów na słodycze</h2>
</header>

<div style="width: 90%; padding: 0 0 0 0px; margin-top: 300px;">
<table id="q-graph" style="margin-top: 258px;">
<caption>łączny czas spędzony na graniu</caption>
<tbody>
{% for i in range(iloscObiektowRozrywki) %}


<!--<th scope="row">Q{{i}}</th>-->
<td class="sent bar" style="height: {{0.7*obiektyRozrywki[i].lacznyCzasGrania}}px;width: {{szerokoscSlupka-3}}px; left: {{ i*szerokoscSlupka + 5 }}px;"><p>{{obiektyRozrywki[i].lacznyCzasGrania|int}}</p></td>

{% endfor %}
</tbody>
</table>

<div id="ticks">
<div class="tick" style="height: 42px;"><p></p></div>
<div class="tick" style="height: 42px;"><p>300 m</p></div>
<div class="tick" style="height: 42px;"><p>240 m</p></div>
<div class="tick" style="height: 42px;"><p>180 m</p></div>
<div class="tick" style="height: 42px;"><p>120 m</p></div>
<div class="tick" style="height: 42px;"><p>60 m</p></div>
<div class="tick" style="height: 0px;"><p>0 m</p></div>
</div>
</div>







<div style="width: 90%; padding: 0 0 0 0px; margin-top: 60px;">
<table id="q-graph" style="margin-top: 215px;">
<caption style="margin-top: -200px;">łączny czas spędzony na oglądaniu yt, filmów, demotów itd</caption>
<tbody>
{% for i in range(iloscObiektowRozrywki) %}

<!--<th scope="row">Q{{i}}</th>-->
<td class="sent bar" style="height: {{0.7*obiektyRozrywki[i].lacznyCzasFilmikowStron}}px; width: {{szerokoscSlupka-3}}px; left: {{ i*szerokoscSlupka + 5 }}px;"><p>{{obiektyRozrywki[i].lacznyCzasFilmikowStron|int}}m</p></td>

{% endfor %}
</tbody>
</table>

<div id="ticks">
<div class="tick" style="height: 42px;"><p></p></div>
<div class="tick" style="height: 42px;"><p>240 m</p></div>
<div class="tick" style="height: 42px;"><p>180 m</p></div>
<div class="tick" style="height: 42px;"><p>120 m</p></div>
<div class="tick" style="height: 42px;"><p>60 m</p></div>
<div class="tick" style="height: 0px;"><p>0 m</p></div>
</div>
</div>







<div style="width: 90%; padding: 0 0 0 0px; margin-top: 60px; padding-bottom: 60px;">
<table id="q-graph" style="margin-top: 258px;">
<caption>czas dark</caption>
<tbody>
{% for i in range(iloscObiektowRozrywki) %}

<!--<th scope="row">Q{{i}}</th>-->
<td class="sent bar" style="height: {{4.2*obiektyRozrywki[i].lacznyCzasDark}}px;width: {{szerokoscSlupka-3}}px; left: {{ i*szerokoscSlupka + 5 }}px;"><p>{{obiektyRozrywki[i].lacznyCzasDark|int}}m</p></td>

{% endfor %}
</tbody>
</table>

<div id="ticks">
<div class="tick" style="height: 42px;"><p></p></div>
<div class="tick" style="height: 42px;"><p>50 m</p></div>
<div class="tick" style="height: 42px;"><p>40 m</p></div>
<div class="tick" style="height: 42px;"><p>30 m</p></div>
<div class="tick" style="height: 42px;"><p>20 m</p></div>
<div class="tick" style="height: 42px;"><p>10 m</p></div>
<div class="tick" style="height: 0px;"><p>0 m</p></div>
</div>
</div>




</body>
</html>
