<!doctype html>
<html lang="pl-PL">

<head>
  <meta charset="utf-8">
  <title> analiza dotychczasowych parametrów </title>
  <link rel="stylesheet" type="text/css" href="diagramTest.css">


</head>
<body>

<header>
    <h2>Analiza kolejnych parametrów</h2>
</header>

<table id="q-graph">
<caption>Quarterly Results</caption>
<tbody>


<tr class="qtr" id="q1">
<th scope="row">Q0</th>
<td class="sent bar" style="height: 111px; left: 0"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 0"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q1</th>
<td class="sent bar" style="height: 111px; left: 150"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 150"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q2</th>
<td class="sent bar" style="height: 111px; left: 300"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 300"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q3</th>
<td class="sent bar" style="height: 111px; left: 450"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 450"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q4</th>
<td class="sent bar" style="height: 111px; left: 600"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 600"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q5</th>
<td class="sent bar" style="height: 111px; left: 750"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 750"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q6</th>
<td class="sent bar" style="height: 111px; left: 900"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 900"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q7</th>
<td class="sent bar" style="height: 111px; left: 1050"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1050"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q8</th>
<td class="sent bar" style="height: 111px; left: 1200"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1200"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q9</th>
<td class="sent bar" style="height: 111px; left: 1350"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1350"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q10</th>
<td class="sent bar" style="height: 111px; left: 1500"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1500"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q11</th>
<td class="sent bar" style="height: 111px; left: 1650"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1650"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q12</th>
<td class="sent bar" style="height: 111px; left: 1800"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1800"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q13</th>
<td class="sent bar" style="height: 111px; left: 1950"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 1950"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q14</th>
<td class="sent bar" style="height: 111px; left: 2100"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2100"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q15</th>
<td class="sent bar" style="height: 111px; left: 2250"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2250"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q16</th>
<td class="sent bar" style="height: 111px; left: 2400"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2400"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q17</th>
<td class="sent bar" style="height: 111px; left: 2550"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2550"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q18</th>
<td class="sent bar" style="height: 111px; left: 2700"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2700"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q19</th>
<td class="sent bar" style="height: 111px; left: 2850"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 2850"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q20</th>
<td class="sent bar" style="height: 111px; left: 3000"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3000"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q21</th>
<td class="sent bar" style="height: 111px; left: 3150"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3150"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q22</th>
<td class="sent bar" style="height: 111px; left: 3300"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3300"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q23</th>
<td class="sent bar" style="height: 111px; left: 3450"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3450"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q24</th>
<td class="sent bar" style="height: 111px; left: 3600"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3600"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q25</th>
<td class="sent bar" style="height: 111px; left: 3750"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3750"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q26</th>
<td class="sent bar" style="height: 111px; left: 3900"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 3900"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q27</th>
<td class="sent bar" style="height: 111px; left: 4050"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4050"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q28</th>
<td class="sent bar" style="height: 111px; left: 4200"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4200"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q29</th>
<td class="sent bar" style="height: 111px; left: 4350"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4350"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q30</th>
<td class="sent bar" style="height: 111px; left: 4500"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4500"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q31</th>
<td class="sent bar" style="height: 111px; left: 4650"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4650"><p>$16,500.00</p></td>
</tr>


<tr class="qtr" id="q1">
<th scope="row">Q32</th>
<td class="sent bar" style="height: 111px; left: 4800"><p>$18,450.00</p></td>
<td class="paid bar" style="height: 99px; left: 4800"><p>$16,500.00</p></td>
</tr>

</tbody>
</table>

<div id="ticks">
<div class="tick" style="height: 59px;"><p>$50,000</p></div>
<div class="tick" style="height: 59px;"><p>$40,000</p></div>
<div class="tick" style="height: 59px;"><p>$30,000</p></div>
<div class="tick" style="height: 59px;"><p>$20,000</p></div>
<div class="tick" style="height: 59px;"><p>$10,000</p></div>
</div>


</body>
</html>